<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ausdauer</title>

</head>

<body>
  <div class="columns">
    <aside class="menu border">
      <ul class="menu-list has-text-centered mt-6 box">
        <li><a>Produkte</a></li>
        <li><a href="#section">Ausdauer </a></li>
        <li><a>weitere Tipps</a></li>
      </ul>
    </aside>

  </div>
  <section class="section">
    <div class="container">
      <h3 class="title has-text-centered is-size-2">Produkte</h3>
      <div class="columns mt-5 is-8 is-variable">
        <div class="column is-4-tablet is-3-desktop">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="images/products/protein.jpg" alt="product">
              </figure>
            </div>
            <div class="card-content ">
              <p class="title is-size-5">Gainz Super Whey</p>
              <p>12,00€</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <a href="" class="has-text-grey">Zum Produkt</a>
              </p>
            </footer>
          </div>
        </div>
        <div class="column is-4-tablet is-3-desktop">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="images/products/protein-gummies.jpg" alt="product">
              </figure>
            </div>
            <div class="card-content ">
              <p class="title is-size-5">Gainz Vitamin Gumz</p>
              <p>15,00€</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <a href="" class="has-text-grey">Zum Produkt</a>
              </p>
            </footer>
          </div>
        </div>
        <div class="column is-4-tablet is-3-desktop">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="images/products/gym-tank.jpg" alt="product">
              </figure>
            </div>
            <div class="card-content ">
              <p class="title is-size-5">Gainz Tankz</p>
              <p>20,00€</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <a href="" class="has-text-grey">Zum Produkt</a>
              </p>
            </footer>
          </div>
        </div>
        <div class="column is-4-tablet is-3-desktop">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="images/products/supps.jpg" alt="product">
              </figure>
            </div>
            <div class="card-content ">
              <p class="title is-size-5">Gainz Kreatin Pillz</p>
              <p>10,00€</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <a href="" class="has-text-grey">Zum Produkt</a>
              </p>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns is-multiline is-centered">
        <div class="column is-8 has-text-centered">
          <h2 class="mt-2 mb-2 is-size-1 is-size-3-mobile has-text-weight-bold">Ausdauer verbessern?</h2>
          <p class="subtitle has-text-grey mb-2">Wer regelmäßig an seiner Fitness arbeitet, steigert sein Energielevel
            und sorgt für eine bessere Ausdauer über einen längeren Zeitraum.
            Optimal sind 150 Minuten Cardio-Training (je nach Intensität auch 75 Minuten) verbunden mit mindestens zwei
            Mal kraftbildendem Training pro Woche.
            Cardio-Training wie Radfahren, Laufen und Schwimmen ist sehr effektiv für den Herz-Kreislauf. Es trainiert
            die Lunge und das Herz,
            was die Sauerstoffversorgung der Muskeln verbessert und somit die Ermüdung vermindert. Krafttraining wie
            Gewichtheben,
            aber auch Körpergewichtsübungen wie Situps und Liegestütze sorgen nicht nur für den Muskelaufbau, sondern
            steigern auch die Ausdauer der Muskeln.
            Wer über einen längeren Zeitraum trainiert, kann länger und schwerer heben.
        </div>
      </div>
    </div>
  </section>
</body>

</html>