<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muskelaufbau</title>
</head>
<body>
    <!--Navbar-->
  <nav class="bd-navbar navbar has-background-primary py-3 is-hidden-touch  " role="navigation"
  aria-label="main navigation" style="max-height: none;">
  <div id="navbarItems" class="navbar-menu">
    <div class="navbar-center">
      <a class="navbar-item has-text-white has-background-primary" href="/nutrition/nutrition">
        <p class="is-size-3">Nutrition</p>
      </a>
      <div class="navbar-item has-dropdown is-hoverable is-right has-text-white has-background-primary">
        <p class="is-size-3">Fitnessziele</p>

        <div class="navbar-dropdown ">
          <a class="navbar-item is-size-4" href="/fitnessziele/abnehmen">
            Abnehmen
          </a>
          <a class="navbar-item is-size-4" href="/fitnessziele/muskelaufbau">
            Muskelaufbau
          </a>
          <a class="navbar-item is-size-4" href="/fitnessziele/ausdauer">
            Ausdauer
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable has-text-white has-background-primary">
        <p class="is-size-3">Ernährungsformen</p>

        <div class="navbar-dropdown ">
          <a class="navbar-item is-size-4" href="/ernaehrungsformen/vegan">
            Vegan
          </a>
          <a class="navbar-item is-size-4" href="/ernaehrungsformen/vegetarisch">
            Vegetarisch
          </a>
          <a class="navbar-item is-size-4" href="/ernaehrungsformen/pesketarisch">
            Pesketarisch
          </a>
        </div>
      </div>
      <a class="navbar-item has-text-white has-background-primary" href="/kleidung/kleidung">
        <p class="is-size-3">Kleidung</p>
      </a>
    </div>
  </div>
</nav>
    <h1>Muskelaufbau</h1>
</body>
</html>