


@media screen and (min-width: 1024px) {

	
	.navbar-center {
		display: flex;
		justify-content: stretch;
		align-items: stretch;
		flex-grow: 1;
		flex-shrink: 0;
		flex-direction: row;
	}
	.navbar-center form {
		display: flex;
		flex-grow: 1;
	}
	.navbar-link,
	.navbar-item {
		align-items: center;
		display: flex;
		flex-basis: auto;
		flex-grow: 1;
		flex-shrink: 0;
		justify-content: center;
	}

	.navbar-dropdown{
		border-top: 1px solid #00d1b2;
		margin-top: 11px;

	}
	
	.navbar-item {
		justify-content: center;
	}

	/*.navbar-item a:hover{
		background-color: #00d1b2 !important;
		color:white !important;
	
		text-decoration: none !important;
		display: inline-block;
		height: 100%;
	}*/

	.fix{
		cursor: pointer;
		height: 120% !important;
	}

	.my-card:hover {
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
		transform: scale(1.05);
	}

	.columns{
		overflow-x: auto;
		overflow-y: hidden;
	}

}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  }
	
  #wrapper {
	flex: 1;
  }

