<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <nav class="bd-navbar navbar has-background-primary py-3 is-hidden-touch  " role="navigation"
    aria-label="main navigation" style="max-height: none;">
    <div id="navbarItems" class="navbar-menu">
      <div class="navbar-center">
        <a class="navbar-item has-text-white has-background-primary" href="/nutrition/nutrition">
          <p class="is-size-3">Nutrition</p>
        </a>
        <div class="navbar-item has-dropdown is-hoverable has-text-white has-background-primary" >
          <p class="is-size-3 fix">Fitnessziele</p>
  
          <div class="navbar-dropdown">
            <a class="navbar-item is-size-4" href="/fitnessziele/muskelaufbau">
              Muskelaufbau
            </a>
            <a class="navbar-item is-size-4" href="/fitnessziele/ausdauer">
              Ausdauer
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable has-text-white has-background-primary">
          <p class="is-size-3 fix">Ernährungsformen</p>
  
          <div class="navbar-dropdown"> 
            <a class="navbar-item is-size-4"  href="/ernaehrungsformen/vegan">
              Vegan
            </a>
            <a class="navbar-item is-size-4" href="/ernaehrungsformen/vegetarisch">
              Vegetarisch
            </a>
          </div>
        </div>
        <a class="navbar-item has-text-white has-background-primary" href="/kleidung/kleidung">
          <p class="is-size-3">Kleidung</p>
        </a>
      </div>
    </div>
  </nav>

    <section class="section">
        <div class="container">
            <div class="columns is-multiline is-centered">
                <div class="column is-8 has-text-centered">
                    <h2 class="mt-2 mb-2 is-size-1 is-size-3-mobile has-text-weight-bold">Nutritions</h2>
                    <p class="subtitle has-text-grey mb-2">Nährstoffe sind essentielle Bestandteile unserer Ernährung,
                        die der Körper benötigt,
                        um richtig zu funktionieren.
                        Sie umfassen Vitamine, Mineralstoffe, Proteine, Kohlenhydrate, Fette und Wasser.
                        Jeder Nährstoff hat seine eigene spezifische Funktion und spielt eine wichtige Rolle im Körper.
                        Zum Beispiel sind Vitamine wichtig für das Immunsystem, Mineralstoffe unterstützen den
                        Knochenbau und Proteine sind notwendig für den Aufbau und die Reparatur von Gewebe.
                        Eine ausgewogene Ernährung, die alle wichtigen Nährstoffe enthält, ist entscheidend für die
                        Gesundheit und das Wohlbefinden.
                        Einige Menschen können jedoch bestimmte Nährstoffe in ausreichender Menge nicht aus ihrer
                        Ernährung beziehen
                        und in solchen Fällen können Nährstoffpräparate eine sinnvolle Ergänzung sein.
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h2 class="mt-2 mb-6 is-size-1 is-size-3-mobile has-text-weight-bold has-text-centered">Warum sind Proteine
                so wichtig?</h2>
            <div class="columns">
                <div class="column is-6">
                    <p class="subtitle is-4">Eine ausreichende Proteinzufuhr ist entscheidend für den Aufbau und die
                        Erhaltung von Muskeln, Haut, Haaren und Nägeln. Leider neigen viele Menschen dazu, nicht genug
                        Protein zu sich zu nehmen. Um Ihnen dabei zu helfen, Ihre Proteinzufuhr zu optimieren, haben wir
                        einige Tipps und Tricks zusammengestellt:</p>
                            <p class="subtitle is-6">1. Wählen Sie hochwertige Proteinquellen. Einige gute Beispiele sind mageres
                            Fleisch, Fisch, Eier, Milchprodukte, Hülsenfrüchte und Nüsse.<br>
                            <br>
                            2. Vervollständigen Sie Ihre Mahlzeiten mit Protein. Fügen Sie Proteinquellen zu
                            jeder Mahlzeit hinzu, um sicherzustellen, dass Sie genug Protein aufnehmen.<br>
                            <br>
                            3. Greifen Sie auf Protein-Shakes zurück. Protein-Shakes eignen sich hervorragend
                            als schnelle und einfache Proteinquelle, die Sie unterwegs verzehren können.</p>
                            
                </div>
                <div class="column is-6">
                    <img class="is-rounded" src="/images/proteinessn.jpg" alt="protein">
                </div>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="container">
          <h3 class="title has-text-centered is-size-4">unsere Empfehlung</h3>
          <div class="columns mt-5 is-8 is-variable">
            <% products.forEach(function(product){ %>
            <div class="column is-4-tablet is-3-desktop">
              <div class="card my-card">
                <div class="card-image">
                  <figure class="image is-square">
                    <img src="/images/products/protein.jpg" alt="product">
                  </figure>
                </div>
                <div class="card-content ">
                  <p class="title is-size-5"><%= product.name %></p>
                  <p><%= product.price %>€</p>
                </div>
                <footer class="card-footer">
                  <p class="card-footer-item">
                    <a href="/product/productInfo/<%= product.id %>" class="has-text-grey is-primary">Zum Produkt</a>
                  </p>
                </footer>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </section>


    <section class="section">
        <div class="container">
            <div id="app">
                <div class="columns">
                    <div class="column is-two-fifths">
                        <div class="field">
                            <label class="label">Gewicht (kg):</label>
                            <div class="control">
                                <input class="input" v-model="weight" type="number">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Größe (cm):</label>
                            <div class="control">
                                <input class="input" v-model="height" type="number">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Alter:</label>
                            <div class="control">
                                <input class="input" v-model="age" type="number">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" @click="calculateNutrients">Berechne
                                    Nährstoffe</button>
                                <button class="button is-primary" v-on:click="setNutrientszero">Zurücksetzen</button>
                            </div>
                        </div>
                    </div>
                    <div class="column is-offset-2 has-text-centered">
                        <p class="is-size-4 has-text-weight-bold">Empfohlene Tagesdosis:</p>
                        <ul>
                            <p class="is-size-4">Kalorien: {{ recommendedCalories }}kcal</p>
                            <p class="is-size-4">Protein: {{ recommendedProtein }}g</p>
                            <p class="is-size-4">Kohlenhydrate: {{ recommendedCarbs }}g</p>
                            <p class="is-size-4">Fette: {{ recommendedFats }}g</p>
                        </ul>
                    </div>
                </div>
                <p class="is-size-6">Die berechneten Kalorien basieren auf einer einfachen Formel, die Gewicht,
                    Größe und
                    Alter berücksichtigt. Bitte beachten Sie, dass die Berechnungen nicht 100% genau sind und dass
                    individuelle Faktoren wie Aktivitätslevel, Geschlecht und Gesundheitszustand berücksichtigt
                    werden
                    sollten.</p>
            </div>
        </div>
    </section>




    <section class="section">
        <div class="container">
            <h2 class="mt-2 mb-6 is-size-1 is-size-3-mobile has-text-weight-bold has-text-centered">Vitamine - die
                Superhelden in unserer Ernährung</h2>
            <div class="columns">
                <div class="column is-6">
                    <img src="/images/vitamine.jpeg" alt="product">
                </div>
                <div class="column is-6">
                    <p class="subtitle is-4">Vitamine, die unsichtbaren Superhelden unserer Ernährung. Ohne sie wäre
                        unser Körper verwundbar gegenüber Krankheiten und Infektionen. Sie sind unerlässlich für unsere
                        Gesundheit und unser Wohlbefinden, und doch nehmen viele von uns nicht genug davon auf.

                        Vitamine sind essentielle Nährstoffe, die der Körper für eine Vielzahl von Funktionen benötigt.
                        Sie helfen bei der Produktion von Energie, unterstützen das Immunsystem, fördern die Gesundheit
                        der Haut, Haare und Nägel und sind wichtig für den Knochenaufbau. Jeder Vitamin-Typ hat seine
                        eigene spezifische Funktion und es ist wichtig, genug davon zu erhalten, um optimal zu
                        funktionieren.
                        Eine ausreichende Vitaminzufuhr kann dazu beitragen, Energielevels zu steigern, das Risiko von
                        Infektionen zu reduzieren und das Aussehen der Haut, Haare und Nägel zu verbessern </p>
                </div>
            </div>
        </div>
    </section>
    <script>
        let app = new Vue({
            el: '#app',
            data: {

                weight: 0,
                height: 0,
                age: 0,
                recommendedCalories: 0,
                recommendedProtein: 0,
                recommendedCarbs: 0,
                recommendedFats: 0

            },
            methods: {
                calculateNutrients() {
                    // Berechnung der empfohlenen Tagesdosis an Kalorien, Protein, Kohlenhydraten und Fetten
                    // hier kann man verschiedene Formeln anwenden, je nachdem welche man verwenden möchte
                    this.recommendedCalories = this.weight * 24
                    this.recommendedProtein = this.weight * 1.3
                    this.recommendedCarbs = this.weight * 3
                    this.recommendedFats = this.weight * 0.8
                },
                setNutrientszero: function () {
                    this.recommendedCalories = 0
                    this.recommendedProtein = 0
                    this.recommendedCarbs = 0
                    this.recommendedFats = 0
                    this.weight = 0
                    this.height = 0
                    this.age = 0

                }
            },
        });
    </script>
</body>

</html>