<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GAINZ</title>
</head>

<body>

  <!--Navbar-->
  <nav class="bd-navbar navbar has-background-primary py-3 is-hidden-touch  " role="navigation"
    aria-label="main navigation" style="max-height: none;">
    <div id="navbarItems" class="navbar-menu">
      <div class="navbar-center">
        <a class="navbar-item has-text-white has-background-primary" href="/nutrition/nutrition">
          <p class="is-size-3">Nutrition</p>
        </a>
        <div class="navbar-item has-dropdown is-hoverable is-right has-text-white has-background-primary" >
          <p class="is-size-3">Fitnessziele</p>
  
          <div class="navbar-dropdown ">
            <a class="navbar-item is-size-4" href="/fitnessziele/abnehmen">
              Abnehmen
            </a>
            <a class="navbar-item is-size-4" href="/fitnessziele/muskelaufbau">
              Muskelaufbau
            </a>
            <a class="navbar-item is-size-4" href="/fitnessziele/ausdauer">
              Ausdauer
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable has-text-white has-background-primary">
          <p class="is-size-3">Ernährungsformen</p>
  
          <div class="navbar-dropdown ">
            <a class="navbar-item is-size-4"  href="/ernaehrungsformen/vegan">
              Vegan
            </a>
            <a class="navbar-item is-size-4" href="/ernaehrungsformen/vegetarisch">
              Vegetarisch
            </a>
            <a class="navbar-item is-size-4"  href="/ernaehrungsformen/pesketarisch">
              Pesketarisch
            </a>
          </div>
        </div>
        <a class="navbar-item has-text-white has-background-primary" href="/kleidung/kleidung">
          <p class="is-size-3">Kleidung</p>
        </a>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      <div class="columns is-multiline is-centered">
        <div class="column is-8 has-text-centered">
          <h2 class="mt-2 mb-2 is-size-1 is-size-3-mobile has-text-weight-bold">GAINZ over everything</h2>
          <p class="subtitle has-text-grey mb-2">Gainz.com ist ein Onlineshop für Supplements und Bekleidung rund um das
            Thema Sport und Ernährung.
            Sowohl für den professionellen Bodybuilder, den regelmäßigen Gymgänger, als auch für den blutigen Anfänger
            bieten wir die passenden Produkte an.
        </div>
      </div>
    </div>
  </section>
  
  <!-- Bestseller-->
  <section class="section">
    <div class="container">
      <h3 class="title has-text-centered is-size-4">Unsere Bestseller</h3>
      <div class="columns mt-5 is-8 is-variable">
        <% products.forEach(function(product){ %>
        <div class="column is-4-tablet is-3-desktop">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="/images/products/protein.jpg" alt="product">
              </figure>
            </div>
            <div class="card-content ">
              <p class="title is-size-5"><%= product.name %></p>
              <p><%= product.price %></p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <a href="/product/productInfo/<%= product.id %>" class="has-text-grey is-primary">Zum Produkt</a>
              </p>
            </footer>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </section>
  <!-- Bestseller-->
  <section class="section">
    <div class="container">
      <h3 class="title has-text-centered is-size-4">Unsere Neuerscheinungen</h3>
      <div class="columns mt-5 is-8 is-variable">
        <div class="column is-4-tablet is-3-desktop">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="images/products/protein.jpg" alt="product">
              </figure>
            </div>
            <div class="card-content ">
              <p class="title is-size-5">Gainz Super Whey</p>
              <p>12,00€</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <a href="" class="has-text-grey">Zum Produkt</a>
              </p>
            </footer>
          </div>
        </div>
        <div class="column is-4-tablet is-3-desktop">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="images/products/protein-gummies.jpg" alt="product">
              </figure>
            </div>
            <div class="card-content ">
              <p class="title is-size-5">Gainz Vitamin Gumz</p>
              <p>15,00€</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <a href="" class="has-text-grey">Zum Produkt</a>
              </p>
            </footer>
          </div>
        </div>
        <div class="column is-4-tablet is-3-desktop">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="images/products/gym-tank.jpg" alt="product">
              </figure>
            </div>
            <div class="card-content ">
              <p class="title is-size-5">Gainz Tankz</p>
              <p>20,00€</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <a href="" class="has-text-grey">Zum Produkt</a>
              </p>
            </footer>
          </div>
        </div>
        <div class="column is-4-tablet is-3-desktop">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="images/products/supps.jpg" alt="product">
              </figure>
            </div>
            <div class="card-content ">
              <p class="title is-size-5">Gainz Kreatin Pillz</p>
              <p>10,00€</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <a href="" class="has-text-grey">Zum Produkt</a>
              </p>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>