<%- exposeLocalsToBrowser() %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <div id="productUpdate">
            <div class="modal is-active">
                <div class="modal-background"></div>
                <div class="modal-content has-background-white py-5 px-5">
                    <h3 class="title mb-6">Produkt bearbeiten</h3>
                    <form :action="'/product/product/update/'+product.id" method="post" v-on:submit="validate">
                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                        <div class="field">
                            <label for="" class="label">Name</label>
                            <div class="control">
                                <input type="text" class="input" :value="product.name" placehodler="Name" name="name"
                                    maxlength="80" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Price</label>
                            <div class="control">
                                <div id="validationerror" class="alert alert-danger" style="display:none">Produkt muss
                                    zwischen 1€ und 999.99€ kosten</div>
                                <input type="number" class="input" step="any" :value="product.price" placehodler="Price"
                                    name="price" maxlength="8" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Description</label>
                            <div class="control">
                                <input type="text" class="input" :value="product.description" placehodler="Description"
                                    name="description" maxlength="40" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Description ausführlich</label>
                            <div class="control">
                                <input type="text" class="input" :value="product.descriptionLong"
                                    placehodler="Description ausführlich" name="descriptionLong" maxlength="300"
                                    required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Category</label>
                            <div class="control">
                                <div class="select is-primary">
                                    <select name="category">
                                        <option v-for="category in categories" v-if="category.isActive" v-bind:value="category.id">
                                            {{category.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mt-6 has-text-centered">
                            <button class="button is-primary" type="submit">Updaten</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

    </html>